:8080 {
	log {
        	output file /var/log/caddy/access.log
	}
	handle /rocky/* {
		file_server {
			root /mirrors/
			browse
		}
	}
	handle /centos/* {
		file_server {
			root /mirrors/
			browse
		}
	}
	handle /epel/* {
		file_server {
			root /mirrors/
			browse
		}
	}
	handle /archlinux/* {
		file_server {
			root /mirrors/
			browse
		}
	}
	handle /archlinuxcn/* {
		file_server {
			root /mirrors/
			browse
		}
	}
	handle /kali/* {
		file_server {
			root /mirrors/
			browse
		}
	}
	handle /lyx/* {
		file_server {
			root /mirrors/
			browse
		}
	}
	handle /apache/* {
		file_server {
			root /mirrors1/
			browse
		}
	}
	handle /kali-images/* {
		file_server {
			root /mirrors1/
			browse
		}
	}
	handle /debian/* {
		file_server {
			root /mirrors1/
			browse
		}
	}
	handle /debian-security/* {
		file_server {
			root /mirrors1/
			browse
		}
	}
	handle /debian-cd/* {
		file_server {
			root /mirrors1/
			browse
		}
	}
	handle /ubuntu/* {
		file_server {
			root /mirrors1/
			browse
		}
	}
	handle /ubuntu-releases/* {
		file_server {
			root /mirrors1/
			browse
		}
	}
	handle /centos-vault/* {
		file_server {
			root /mirrors1/
			browse
		}
	}
	handle /openjdk/* {
		file_server {
			root /mirrors1/
			browse
		}
	}
	handle /Adoptium/* {
		file_server {
			root /mirrors1/
			browse
		}
	}
	handle /alpine/* {
		file_server {
			root /mirrors1/
			browse
		}
	}
	handle /manjaro/* {
		file_server {
			root /mirrors1/
			browse
		}
	}
	handle /GNU/* {
		file_server {
			root /mirrors1/
			browse
		}
	}
	handle /Adoptium/* {
		file_server {
			root /mirrors1/
			browse
		}
	}
	handle /nodejs-release/* {
		file_server {
			root /mirrors1/
			browse
		}
	}
	handle /CTAN/* {
		file_server {
			root /mirrors1/
			index index.html
			browse
		}
	}
	handle /jobs {
		reverse_proxy 127.0.0.1:12345
	}
	handle /api/* {
		reverse_proxy 127.0.0.1:7000
	}
	file_server {
                root /home/mirror/jcutmirror/caddy/
                index index.html
        }
}
